:root {
  --card-color: rgb(224, 223, 223);
  --todo-color: rgb(245, 245, 245);
  --black-color: #161719;
  --purple-color: #B634C5;
  --green-color: #25c8ab;
  --white-color: #F4F5F9;
}

.App {
  height: 100%;
  text-align: center;
  background-color: var(--white-color);
}

.TheNavLink {
  margin: 5px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.Container {
  height: 100vh;
}
.TheNavLink:active,
.TheNavLink:focus {
  text-decoration: underline 2px black;
}

.Todos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--card-color);
  width: fit-content;
  padding: 8px;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 8%;
}

.Todo{
  margin: 5px 1%;
  display: flex;
  background-color: var(--todo-color);
  width: 98%;
  padding: 5px 0;
  border-radius: 12px;
  box-shadow: 21px 13px 40px -14px rgba(0,0,0,0.56);
}
.Todo p {
  margin: 0;
  padding-left: 5px;
  margin-right:auto;
}
.Todo i {
  padding: 0 5px;
  margin: 0 2px;
}
.AddTodo form input {
  border-radius: 15px;
  border: 1px solid black;
  padding: 3px 4px;
}
.AddTodo form input:focus, 
.AddTodo form input:active {
  border: 1px solid rgb(159, 159, 159);
}
.completed {
  background-color: var(--green-color);
}
.HeaderText {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Header h3 {
  margin: 2px 8px;
}
.Header form input {
  border-radius: 15px;
  border: 1px solid black;
  padding: 3px 4px;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.Home {
  background-color: var(--white-color);
  color: var(--black-color);
}
.HomeTodos {
  font-size: 1.1rem;
  font-weight: 500;
} 
.HomeTodos i{
  color: var(--black-color);
}
.TodoSite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.TodoSite button {
  color: var(--black-color);
  background-color: rgb(91, 154, 247);
  border: none;
  padding: 4px 6px;
  font-size: 1.1rem;
  border-radius: 15px;
  margin-top: 15px;
}
.TodoSite button:active,
.TodoSite button:focus {
  background-color: rgb(43, 107, 202);
}